
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --main-color:#EE0000;
    --bg-color:#000;
    --secondary-color:#e5e5e5;
    --button:#;
    --heading-color:#131313;
    --secondary-text-color:#;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
}
html{
    scroll-behavior: smooth;
    
}
/* body{
    background: var(--bg-color)!important; 
} */
.heading{
    font-size: 56px;
   
    /* text-align: center; */
}
section{
    padding: 1.5rem 7%;
}
a{
    text-decoration: none;
    color: #000;
}
p{
    font-size: 20px;
}

/*--------- btn ---------*/
.btms {
    background-color: var(--bg-color)!important;
    border: none!important;
    padding: .4rem 2rem!important;
    font-weight: 500!important;
}
.btms:hover{
    letter-spacing: 1px;    
}
/*----- header start -----*/
header{
    display: flex;
    justify-content: space-between!important;
    align-items: center!important;
    padding: 1.5rem 7%;
    position: fixed!important;
    z-index: 1000;
    width: 100%;
    border-bottom: 1rem solid rgb(161, 156, 156);
    position: relative;
    background-color: var(--bg-color);
    background-color: #000;
    top: 0;
}

header nav ul{
    list-style: none;
    display: flex;
}
header nav ul li{
    margin: 0 2rem;
    position: relative;
}
header nav ul li a{
    text-decoration: none;
    padding: .5rem 1rem;
    color: #fff;
    font-weight: 600;
    transition: 0.6s;
    
}
header nav ul li a:hover{
    color: #fff;
}
header nav ul li a:after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: .5s;
    background-color: #810000;
    
}
header nav ul li a:hover:after{
    width: 100%;
}
header .mmn{
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
    color: #fff;
}
header .mmn:hover{
    color: blueviolet;
}
/*----- header end -----*/


/*-------- home start -------*/
.home{
    margin-top: 8rem;
}
.home-items{
    background: url(./img/image\ 20.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}
.home-items h1{
    color: #fff;
    width: 50%;
    padding: 5rem 0;
    padding-left: 2rem;
    margin-left: 5rem;
    text-transform: capitalize;
}
.home-items h1 span{
    color: var(--main-color);
}
/*-------- home end -------*/

/* Our Expertise */
.our-expertise{
    margin: 5rem 0;
}
.our-expertise .our-items{
    padding: 2rem 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1rem;
    text-align: center;
}
.our-expertise .our-items .all-item{
    position: relative;
    width: 262px;
}
    
.our-expertise .our-items .all-item img{
    z-index: 1;
}
.our-expertise .our-items .all-item .text-item{
    position: absolute;
    top: 1rem;
    z-index: 2;
    color: #fff;
    width: 80%;
    margin-left: 1.5rem;
    text-align: left;
}
.our-expertise .our-items .all-item .text-item p{
    font-size: 16px;
    line-height: 20px;
}
/* Our Expertise */


/* Why Choose */

.choose{
    background-color: #F4F4F4;
    display: flex;
    align-items: center;
}
.choose .choose-con{
    display: flex;
    justify-content: center;
    align-items: center!important;
}

.choose .container .row .col .box{
    height: 303px!important;
    width: 360px!important;
    background-color: #fff;
    display: flex;
    flex-direction: column!important;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 15px;
    margin: 32px 0;
    cursor: pointer;
    transform:  .5s ;
    transition: .5s;
}

.choose .container .row .col .box-none{
    background-color: #F4F4F4;
}

.choose .container .row .col .box-col{
    background-color: var(--main-color);
    color: #fff;
}
.choose .container .row .col .box .h2{
    color: #fff;
}
.choose .container .row .col .box h6{
    font-size: 50px;
    font-weight: 1683;
}
.choose .container .row .col .box h2{
    font-size: 58px;
    font-weight: 800;
    color: var(--main-color);
}
.choose .container .row .col .box h3{
    font-size: 24px;
}
.choose .container .row .col .box p{
    font-size: 18px;
}

.choose .container .row .col .box:hover{
    background-color: #b68282;
}
/* Why Choose */

/* Who We Are start */

.whowe{
    background-color: var(--main-color);
}
.whowe .whowe-x{
    padding: 2rem 0;
}
.whowe .whowe-x .row{
    display: flex;
    align-items: center;
}
.whowe .whowe-x .row .col .boxs .btns{
    padding-top: 2rem;
}
.whowe .whowe-x .row .col .boxs .btns a{
    text-decoration: none;
    margin: 1rem;
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 25px;
    color: black;
    transition: .5s;
}
.whowe .whowe-x .row .col .boxs .btns a:hover{
    background-color: #131313;
    color: #fff;
}
.whowe .whowe-x .row .col .boxs .btns .btnss{
    text-decoration: none;
    margin: 1rem;
    background-color: #131313;
    padding: 1rem 2rem;
    border-radius: 25px;
    color: #fff;
    transition: .5s;
}
.whowe .whowe-x .row .col .boxs .btns .btnss:hover{
    background-color: #fff;
    color: black;
}
/* Who We Are end */

/* footer start */
.footer .container .row .col 
.all-servis2,
.all-servis3,
.all-servis4 h2{
    color: var(--main-color);
}

.footer{
    background-color: #000;
    color: #fff;
}

.footer .container .docomant{
    padding: 3rem 0;
}

.footer .container .row{
    padding: 3rem 0;
    border-top: 1px solid rgb(255, 253, 253);
    border-bottom: 1px solid rgb(255, 253, 253);
}
.footer .container .row .col .all-servis2 .manu ul li{
   margin: .5rem 0!important; 
}
.footer .container .row .col .all-servis2 .manu ul li a{
    text-decoration: none;
    color: #fff;
    transition: .5s;
    padding: 2px 10px;
    border-radius: 10px;
}
.footer .container .row .col .all-servis2 .manu ul li a:hover{
    background-color: #3b3b3b;
}




.footer .container .row .col .all-servis3 ul li{
    margin: .5rem 0;
}
.footer .container .row .col .all-servis3 ul li a{
  text-decoration: none;
  color: #fff;
  transition: .5s;
  padding: 2px 5px;
  border-radius: 10px;
  
}
.footer .container .row .col .all-servis3 ul li a:hover{
    background-color: #3b3b3b;
}

.footer .container .row .col .all-servis4 .icons .iconPhone{
    display: flex;
    flex-direction: column;
}
.footer .container .row .col .all-servis4 .icons .iconPhone a{
    text-decoration: none;
    color: #fff;
    margin: .5rem 0;
    padding: 2px 5px;
    transition: .5s;
    border-radius: 5px;

}
.footer .container .row .col .all-servis4 .icons .iconPhone a:hover{
    background-color: #3b3b3b;
}
.footer .container .row .col .all-servis4 .icons .iconPhone a i{
    padding-right: 1rem;
}

.footer .container .row .col .all-servis4 .icons .iconOnline{
    padding-top: 2rem;
}
.footer .container .row .col .all-servis4 .icons .iconOnline a{
    text-decoration: none;
    color: #fff;
}
.footer .container .row .col .all-servis4 .icons .iconOnline a:hover i{
    background-color: #3b3b3b;
}
.footer .container .row .col .all-servis4 .icons .iconOnline a i{
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 50%;
    transition: .5s;
}

.footer .container .copydata{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* footer end*/







/*-------- home start -------*/
/*-------- home end -------*/


@media (max-width:1470px){
     /*----- header start -----*/

     header{
        padding: 1.5rem 2rem;
    }
    header nav{
        position: absolute;
        background-color: var(--secondary-color);
        top: 6rem; left: -999999px;
        height: 100vh;
        border-radius: 10px;
        transition: .3s;  
    }
    header nav ul li a{
        color: #000;
    }
    header nav.active{
        left: 0;
    }
    header nav ul{
        list-style: none;
        display: inline-block;
        margin: 0;
        padding: 0;
        
    }
    header nav ul li{
        margin-top: 2rem;
        text-align: center;
    }
    

    header .mmn{
        display: inline-block;
    }

    /*----- header end -----*/
    
}

@media (max-width:1320px){
    .heading{
        font-size: 50px;
    }
   
}

@media (max-width:1140px){
    .heading{
        font-size: 40px;
    }
    
    }
    @media (max-width:960px){
        .heading{
            font-size: 38px;
            
        }
        section{
            padding: 1.5rem 2rem;  
        }

            
    }


@media (max-width:720px){
     .heading{
        font-size: 35px;
       
    }

    /* home start */
    .home-items h1{
        width: 100%;
        padding-left: 2rem;
        margin-left: 0;
    }
    .home-items h1 span{
        color: #810000;
    }
    /* home end */

    /* Our Expertise */
    .our-expertise .our-items{
        padding: 0;
    }
    
    /* Who We Are start */
    .whowe .whowe-x .row .col .whoweimg{
        padding-top: 2rem;
        padding-left: 0;
    }
    .whowe .whowe-x .row .col .whoweimg img{
        width: 450px;
    }
}
@media (max-width:540px){
    .heading{
        font-size: 35px;
    }
    /* home start */
    .home-items h1{
        padding-left: 1rem;
    }
    /* home end */
    /* Who We Are start */

    .whowe .whowe-x .row .col .boxs .btns{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    

    .whowe .whowe-x .row .col .boxs .btns a{
        padding: .5rem 1rem;
        font-size: 12px;
        
    }

    .whowe .whowe-x .row .col .boxs .btns .btnss{
        padding: .5rem 1rem;
        font-size: 12px;
    }

    .whowe .whowe-x .row .col .whoweimg img{
        width: 350px;
    }
}